POSTGRES_USER=postgres
POSTGRES_PASSWORD=Password123

SALESFORCE_PROVIDER_URL=changeMe
SALESFORCE_INSTANCE_URL=changeMe
SALESFORCE_CONSUMER_ID=changeMe
SALESFORCE_CONSUMER_SECRET=changeMe
SALESFORCE_ACCESS_TOKEN=changeMe
SALESFORCE_REFRESH_TOKEN=changeMe

MSR_ADMIN_PASSWORD=manage
